{% extends 'base.html.twig' %}

{% block body %}
	<div class="background"></div>
	<h2 class="title">Retrouvez les dernières infos de votre club préféré</h2>
	<section class="home_section">
		<div class="container">
			{% for a in articles %}
				<article>
					{# <img src="/assets/img/{{ a.file }}" alt="" class="img_article"> #}
					<h3>{{ a.title }}</h3>
				</article>
			{% endfor %}
		</div>
	</section>
{% endblock %}
