<form style="text-align: center" method="post" action="{{ path('discussion_delete', {'categorie': discussion.category.slug, 'id': discussion.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette discussion ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ discussion.id) }}">
	<button class="btn btn_delete">
		<i class="fas fa-trash"></i>
	</button>
</form>
