/*****************************************
************  Mobile first ***************
*****************************************/

/*----------------------
------  Generals  ------
----------------------*/

* {
    box-sizing: border-box;
}
  
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    margin: 0;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.hide {
    display: none;
    visibility: hidden;
}

/* Class used for flash messages */
.flash {
    width: 90%;
    margin: auto;
    padding: 2rem 0;
    text-align: center;
    font-size: 1.8rem;
    color: white;
}

.success {
    background-color: #38b000;
}

.failure {
    background-color: red;
}

@media screen and (min-width: 768px) {
    .flash {
        width: 80%;
    }
}

@media screen and (min-width: 1024px) {
    .flash {
        width: 75%;
        max-width: 1000px;
    }
}

/*----------------------
------  Header  --------
-----------------------*/

header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    z-index: 100;
    background-color: rgb(30, 30, 30);
}

h1 {
    text-align: center;
    font-size: 4rem;
    font-style: italic;
    font-weight: 600;
    text-shadow: 0.5rem 0.5rem 1rem lightskyblue;
    padding-top: 1.5rem;
    margin: 0;
}

h1 a {
    color: white;
}

.menu {
    position: absolute;
}

.menu_hide {
    top: 20px;
    right: 20px;
}

.menu_show {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1.5rem;
}

.toggle_nav {
    font-size: 3rem;
    text-decoration: none;
    background: none;
    border: none;
}

#open_nav {
    color: black;
}

#close_nav {
    color: white;
}

nav {
    display: flex;
    flex-direction: column;
    text-align: right;
    background-color: rgb(30, 30, 30);
}

nav a {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

/* Header's tablet version */
@media screen and (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        margin: 2rem 0 2rem 2rem;
    }
}

/* Header's desktop version */
@media screen and (min-width: 1024px) {
    header {
        justify-content: space-around;
    }

    h1 {
        margin: 3rem 1rem 3rem 4rem;
    }

    .menu {
        margin: 1rem;
    }

    .menu_show {
        position: inherit;
        background-color: inherit;
        padding: 0;
    }

    nav {
        flex-direction: row;
        align-items: center;
    }

    nav a {
        margin-right: 2rem;
        margin-bottom: 0;
        font-size: 2rem;
        transition: all ease-in-out 0.25s;
    }

    nav a:hover {
        transform: scale(1.2);
    }
}

/*----------------------
-----  Admin nav  ------
----------------------*/

.nav_admin {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 50%;
    padding: 2rem 3rem;
}

.nav_admin a {
    margin-right: 0;
    margin-bottom: 2rem;
}

.nav_admin a:last-child {
    margin-bottom: 0;
}


/*----------------------
-----  Home page  ------
----------------------*/

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/assets/img/background.jpg");
    background-repeat: repeat;
    z-index: -10;
}

.group {
    font-size: 3rem;
    padding: 1rem;
    color: white;
}

/*----------------------
--------  Body  --------
----------------------*/

/* Responsive container */
.container {
    width: 90%;
    margin: auto;
    padding: 2rem 0;
    background-color: rgb(30, 30, 30);
}

@media screen and (min-width: 768px) {
    .container {
        width: 80%;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 75%;
        max-width: 1000px;
    }
}

h2 {
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    margin-top: 6rem;
    padding: 0 5%;
    color: white;
    overflow-wrap: break-word;
}


/*-----------------------
--------  Forms  --------
-----------------------*/

form {
    margin: 0 0 2rem;
}

.form {
    width: 90%;
    margin: 0 auto 2rem;
}

/* Style for label/input group */
.form_row {
    margin-bottom: 2rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: white;
}

label.required:after {
    content: " *";
    color: red;
}

.form_input {
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid grey;
}

.form_row ul {
    padding: 1rem;
    border-radius: 10px;
    background-color: red;
    color: white;
}

.form_row ul li {
    list-style: none;
}

/*------------------------
-------  Buttons  --------
------------------------*/

.btn {
    cursor: pointer;
    padding: 1.5rem 1.8rem;
    margin: 2rem 1.5rem 2rem 0;
    font-size: 1.5rem;
    border-radius: 10px;
    color: white;
}

.btn_submit {
    background-color: #38b000;
    border: 1px solid #198754;
}

.btn_return {
    background-color: cornflowerblue;
    border: 1px solid cornflowerblue;
}

.btn_delete {
    background-color: red;
    border: 1px solid red;
}

.btn_edit {
    background-color: orange;
    border: 1px solid orange;
}

.btn_show {
    background-color: #062486;
    border: 1px solid #062486;
}

.btn_discussion {
    background-color: lightgrey;
    border-radius: 0;
    border: 1px solid grey;
    color: black;
}

.buttons {
    display: flex;
    align-items: center;
    /* width: max-content  ; */
}

table .buttons {
    justify-content: center;
}

.buttons form {
    margin: 0;
}

.buttons .btn:last-child {
    margin-right: 0;
}


/*-------------------------
--------  Table  ----------
-------------------------*/

.table {
    width: 90%;
    border-collapse: collapse;
    margin: 4rem auto 2rem;
}

.table thead {
    font-size: 2rem;
    background-color: rgb(11, 145, 223);
    color: white;
}

.table tbody tr {
    background-color: white;
    color: black;
}

.table tbody tr a {
    color: black;
}

.table tbody tr td:first-child {
    font-weight: bold;
}

.table tbody tr td {
    border-right: 1px solid rgb(11, 145, 223);
}

.table tbody tr:nth-child(even) td {
    border-right: 1px solid white;
}

.table tbody tr td:last-child {
    border-right: none;
}

.table tbody tr:nth-child(even) {
    background-color: rgb(11, 145, 223);
    color: white;
}

.table tbody tr:nth-child(even) a {
    color: white;
}

th, td {
    padding: 1.5rem;
    text-align: center;
    vertical-align: middle;
}

.table_responsive th {
    border-right: 1px solid lightgrey;
}

.table_responsive tr:nth-child(even) th {
    border-right: 1px solid white;
}
