<header>
	{# Website name #}
	<h1>
		<a href="/">
			Forum de l'Olympique de Marseille
		</a>
	</h1>
	<div class="menu" id="menu">
		<button type="button" class="toggle_nav" id="open_nav">
			<i class="fas fa-bars"></i>
		</button>
		{# Buttons to toggle menu -- For mobile version #}
		<button type="button" class="toggle_nav" id="close_nav">
			<i class="fas fa-chevron-left"></i>
		</button>
		<nav id="nav">
			<a href="">Béééé</a>
			<a href="">Céééé</a>
			{% if app.user %}
				<a href="">Mon compte</a>
				<a href="{{ path('security_logout') }}">Se déconnecter</a>
			{% else %}
				<a href="{{ path('security_register') }}">Créer son compte</a>
				<a href="{{ path('security_login') }}">Se connecter</a>
			{% endif %}
		</nav>
	</div>
	<div class="background"></div>
</header>
