<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Infos sports</title>
		<meta name="description" content="Grafiti dans ma ville">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block stylesheets %}
			<link rel="stylesheet" href="assets/css/all.min.css">
			<link rel="stylesheet" href="assets/css/styles.css">
		{% endblock %}

		{% block javascripts %}{% endblock %}
	</head>
	<body>
		{% include "_header.html.twig" %}
		<main>
			{# Show flash messages if any #}
			{% for key, messages in app.flashes %}
				{% for m in messages %}
					<div class="flash {{ key }}">{{ m }}</div>
				{% endfor %}
			{% endfor %}
			{% block body %}{% endblock %}
		</main>
		{% include "_footer.html.twig" %}
		<script src="assets/js/jquery.min.js"></script>
		<script type="module" src="assets/js/index.js"></script>
	</body>
</html>
