{% extends "admin/_nav_admin.html.twig" %}

{% block body_admin %}
	<h2>Bienvenue !</h2>

	<div class="presentation">
		<p>Bonjour et bienvenue sur votre interface administrateur.</p>
		<p>Ici, vous pourrez parametrer votre site.</p>
		<p>Vous pouvez vous déplacer entre les différentes partie parametrable à l'aide du menu de navigation situé à gauche de l'écran</p>
		<p>Bon paramétrage</p>
	</div>
{% endblock %}
