{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h2>Créer un nouvel article</h2>
		<div class="buttons">
			{% include "article/_return.html.twig" %}
		</div>
		{{ include('article/_form.html.twig') }}
	</div>
{% endblock %}
